@model User_Authentication.Models.ProductViewModels.ProductTypesViewModel

@{
    ViewData["Title"] = "Categories";
}
<h2>@ViewData["Title"]</h2>

@foreach (var type in Model.ProductTypes)
{
    <div class="row typesList">
        <div class="col-md-12"><h3>@Html.DisplayFor(modelItem => type.Label)</h3></div>
    </div>

        @foreach (var subcat in Model.ProductTypeSubCategories)
        {
            if (subcat.ProductTypeId == type.ProductTypeId)
            {
                <div class="row typesSubCategories">
                    <div class="col-md-12"><a asp-controller="Products" asp-action="ProductsInSubCategory" asp-route-id="@subcat.ProductTypeSubCategoryId"><span>@Html.DisplayFor(modelItem => subcat.Name)</span><span>(@Html.DisplayFor(modelItem => subcat.Quantity)</span>)</a></div>
                </div>
            }
        }
}